# Optimizing gold extraction from mined ore using Machine Learning

The Zyfra Group develops and implements industrial digital solutions to improve efficiency and safety of the mining, oil & gas, chemical industries. In this project, Zyfra has requested a prototype machine learning model to optimize production of gold from gold ore and eliminate unprofitable parameters.

**Task Statement**

Prepare a prototype of a machine learning model for Zyfra. The company develops efficiency solutions for heavy industry. The model should predict the amount of gold recovered from gold ore. You have the data on extraction and purification. The model will help to optimize the production and eliminate unprofitable parameters.

## Data description

**Technological process**

- Rougher feed — raw material
- Rougher additions (or reagent additions) — flotation reagents: Xanthate, Sulphate, Depressant
 + Xanthate — promoter or flotation activator;
 + Sulphate — sodium sulphide for this particular process;
 + Depressant — sodium silicate.
- Rougher process — flotation
- Rougher tails — product residues
- Float banks — flotation unit
- Cleaner process — purification
- Rougher Au — rougher gold concentrate
- Final Au — final gold concentrate

**Parameters of stages**
- air amount — volume of air
- fluid levels
- feed size — feed particle size
- feed rate

The stages of the technological process for gold extraction from ore is shown

In [ ]:
from IPython.display import Image
Image(url='https://pythondance.s3.us-west-2.amazonaws.com/Gold_extraction_process.JPG', width = 600, height = 300)

## Objectives

The objectives of this project is to:
- Simulate the gold recovery process from gold ore
- Develop a model to predict the amount of gold recovered and optimize gold production
- Predict final sMAPE metric

<hr>

 # Table of contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#open_the_data">Open the data file and study the general information</a></li>
        <li><a href="#analyze_the_data">Analyze the data</a></li>
        <li><a href="#build_the_model">Build the model</a></li>
        <li><a href="#overall_conclusion">Overall conclusion</a></li>
    </ol>
</div>
<br>
<hr>

<div id="open_the_data">
    <h2>Open the data file and study the general information</h2> 
</div>

We require the following libraries: *pandas* and *numpy* for data preprocessing and manipulation, *Scikit-Learn* for building our learning algorithms

In [2]:
# import pandas and numpy for data preprocessing and manipulation
import numpy as np
import pandas as pd
from scipy import stats as st

# import datetime for date conversion
import datetime
from datetime import datetime 

# seaborn and matplotlib for visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# import train_test_split to split data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
pd.options.mode.chained_assignment = None # to avoid SettingWithCopyWarning after scaling

# import machine learning module from the sklearn library
from sklearn.linear_model import LinearRegression # import linear regression 

# import regression metrics
from sklearn.metrics import explained_variance_score 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# import warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

print('Project libraries has been successfully been imported!')

Project libraries has been successfully been imported!

In [3]:
# read the data
try:
    data_train = pd.read_csv('https://code.s3.yandex.net/datasets/gold_recovery_train.csv')
    data_test = pd.read_csv('https://code.s3.yandex.net/datasets/gold_recovery_test.csv')
    data_full = pd.read_csv('https://code.s3.yandex.net/datasets/gold_recovery_full.csv')
except:
    data_train = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Integrated Project 2/gold_recovery_train.csv')
    data_test = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Integrated Project 2/gold_recovery_test.csv')
    data_full = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Integrated Project 2/gold_recovery_full.csv')
print('Data has been read correctly!')

Data has been read correctly!

In [4]:
# function to determine if columns in file have null values
def get_percent_of_na(df, num):
    count = 0
    df = df.copy()
    s = (df.isna().sum() / df.shape[0])
    for column, percent in zip(s.index, s.values):
        num_of_nulls = df[column].isna().sum()
        if num_of_nulls == 0:
            continue
        else:
            count += 1
        print('Column {} has {:.{}%} percent of Nulls, and {} of nulls'.format(column, percent, num, num_of_nulls))
    if count != 0:
        print("\033[1m" + 'There are {} columns with NA.'.format(count) + "\033[0m")
    else:
        print()
        print("\033[1m" + 'There are no columns with NA.' + "\033[0m")
        
# function to display general information about the dataset
def get_info(df):
    """
    This function uses the head(), info(), describe(), shape() and duplicated() 
    methods to display the general information about the dataset.
    """
    print("\033[1m" + '-'*100 + "\033[0m")
    print('Head:')
    print()
    display(df.head())
    print('-'*100)
    print('Info:')
    print()
    display(df.info())
    print('-'*100)
    print('Describe:')
    print()
    display(df.describe())
    print('-'*100)
    display(df.describe(include='object'))
    print()
    print('Columns with nulls:')
    display(get_percent_of_na(df, 4))  # check this out
    print('-'*100)
    print('Shape:')
    print(df.shape)
    print('-'*100)
    print('Duplicated:')
    print("\033[1m" + 'We have {} duplicated rows.\n'.format(df.duplicated().sum()) + "\033[0m")
    print()

In [5]:
# study the general information about the dataset 
print('General information about the dataframe')
get_info(data_train)
get_info(data_test)
get_info(data_full)

General information about the dataframe
----------------------------------------------------------------------------------------------------
Head:

,date,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-01-15 00:00:00,6.055403,9.889648,5.507324,42.192020,70.541216,10.411962,0.895447,16.904297,2.143149,...,14.016835,-502.488007,12.099931,-504.715942,9.925633,-498.310211,8.079666,-500.470978,14.151341,-605.841980
1,2016-01-15 01:00:00,6.029369,9.968944,5.257781,42.701629,69.266198,10.462676,0.927452,16.634514,2.224930,...,13.992281,-505.503262,11.950531,-501.331529,10.039245,-500.169983,7.984757,-500.582168,13.998353,-599.787184
2,2016-01-15 02:00:00,6.055926,10.213995,5.383759,42.657501,68.116445,10.507046,0.953716,16.208849,2.257889,...,14.015015,-502.520901,11.912783,-501.133383,10.070913,-500.129135,8.013877,-500.517572,14.028663,-601.427363
3,2016-01-15 03:00:00,6.047977,9.977019,4.858634,42.689819,68.347543,10.422762,0.883763,16.532835,2.146849,...,14.036510,-500.857308,11.999550,-501.193686,9.970366,-499.201640,7.977324,-500.255908,14.005551,-599.996129
4,2016-01-15 04:00:00,6.148599,10.142511,4.939416,42.774141,66.927016,10.360302,0.792826,16.525686,2.055292,...,14.027298,-499.838632,11.953070,-501.053894,9.925709,-501.686727,7.894242,-500.356035,13.996647,-601.496691

----------------------------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16860 entries, 0 to 16859
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                16860 non-null  object
 1   final.output.concentrate_ag                         16788 non-null  float64
 2   final.output.concentrate_pb                         16788 non-null  float64
 3   final.output.concentrate_sol                        16490 non-null  float64
 4   final.output.concentrate_au                         16789 non-null  float64
 5   final.output.recovery                               15339 non-null  float64
 6   final.output.tail_ag                                16794 non-null  float64
 7   final.output.tail_pb                                16677 non-null  float64
 8   final.output.tail_sol                               16715 non-null  float64
 9   final.output.tail_au                                16794 non-null  float64
 10  primary_cleaner.input.sulfate                       15553 non-null  float64
 11  primary_cleaner.input.depressant                    15598 non-null  float64
 12  primary_cleaner.input.feed_size                     16860 non-null  float64
 13  primary_cleaner.input.xanthate                      15875 non-null  float64
 14  primary_cleaner.output.concentrate_ag               16778 non-null  float64
 15  primary_cleaner.output.concentrate_pb               16502 non-null  float64
 16  primary_cleaner.output.concentrate_sol              16224 non-null  float64
 17  primary_cleaner.output.concentrate_au               16778 non-null  float64
 18  primary_cleaner.output.tail_ag                      16777 non-null  float64
 19  primary_cleaner.output.tail_pb                      16761 non-null  float64
 20  primary_cleaner.output.tail_sol                     16579 non-null  float64
 21  primary_cleaner.output.tail_au                      16777 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              16820 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            16827 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              16820 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            16833 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              16822 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            16833 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              16821 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            16833 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       16833 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  16833 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  16833 non-null  float64
 33  rougher.calculation.au_pb_ratio                     15618 non-null  float64
 34  rougher.input.feed_ag                               16778 non-null  float64
 35  rougher.input.feed_pb                               16632 non-null  float64
 36  rougher.input.feed_rate                             16347 non-null  float64
 37  rougher.input.feed_size                             16443 non-null  float64
 38  rougher.input.feed_sol                              16568 non-null  float64
 39  rougher.input.feed_au                               16777 non-null  float64
 40  rougher.input.floatbank10_sulfate                   15816 non-null  float64
 41  rougher.input.floatbank10_xanthate                  16514 non-null  float64
 42  rougher.input.floatbank11_sulfate                   16237 non-null  float64
 43  rougher.input.floatbank11_xanthate                  14956 non-null  float64
 44  rougher.output.concentrate_ag                       16778 non-null  float64
 45  rougher.output.concentrate_pb                       16778 non-null  float64
 46  rougher.output.concentrate_sol                      16698 non-null  float64
 47  rougher.output.concentrate_au                       16778 non-null  float64
 48  rougher.output.recovery                             14287 non-null  float64
 49  rougher.output.tail_ag                              14610 non-null  float64
 50  rougher.output.tail_pb                              16778 non-null  float64
 51  rougher.output.tail_sol                             14611 non-null  float64
 52  rougher.output.tail_au                              14611 non-null  float64
 53  rougher.state.floatbank10_a_air                     16807 non-null  float64
 54  rougher.state.floatbank10_a_level                   16807 non-null  float64
 55  rougher.state.floatbank10_b_air                     16807 non-null  float64
 56  rougher.state.floatbank10_b_level                   16807 non-null  float64
 57  rougher.state.floatbank10_c_air                     16807 non-null  float64
 58  rougher.state.floatbank10_c_level                   16814 non-null  float64
 59  rougher.state.floatbank10_d_air                     16802 non-null  float64
 60  rougher.state.floatbank10_d_level                   16809 non-null  float64
 61  rougher.state.floatbank10_e_air                     16257 non-null  float64
 62  rougher.state.floatbank10_e_level                   16809 non-null  float64
 63  rougher.state.floatbank10_f_air                     16802 non-null  float64
 64  rougher.state.floatbank10_f_level                   16802 non-null  float64
 65  secondary_cleaner.output.tail_ag                    16776 non-null  float64
 66  secondary_cleaner.output.tail_pb                    16764 non-null  float64
 67  secondary_cleaner.output.tail_sol                   14874 non-null  float64
 68  secondary_cleaner.output.tail_au                    16778 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            16497 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          16751 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            16705 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          16748 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            16763 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          16747 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            16752 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          16750 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            16731 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          16747 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            16768 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          16767 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            16775 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          16775 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            16775 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          16776 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            16757 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          16775 non-null  float64
dtypes: float64(86), object(1)
memory usage: 11.2+ MB

None

----------------------------------------------------------------------------------------------------
Describe:

,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,primary_cleaner.input.sulfate,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
count,16788.000000,16788.000000,16490.000000,16789.000000,15339.000000,16794.000000,16677.000000,16715.000000,16794.000000,15553.000000,...,16731.000000,16747.000000,16768.000000,16767.000000,16775.000000,16775.000000,16775.000000,16776.000000,16757.000000,16775.000000
mean,4.716907,9.113559,8.301123,39.467217,67.213166,8.757048,2.360327,9.303932,2.687512,129.479789,...,19.101874,-494.164481,14.778164,-476.600082,15.779488,-500.230146,12.377241,-498.956257,18.429208,-521.801826
std,2.096718,3.389495,3.825760,13.917227,11.960446,3.634103,1.215576,4.263208,1.272757,45.386931,...,6.883163,84.803334,5.999149,89.381172,6.834703,76.983542,6.219989,82.146207,6.958294,77.170888
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000003,...,0.000000,-799.920713,0.000000,-800.021781,-0.423260,-799.741097,0.427084,-800.258209,0.024270,-810.473526
25%,3.971262,8.825748,6.939185,42.055722,62.625685,7.610544,1.641604,7.870275,2.172953,103.064021,...,14.508299,-500.837689,10.741388,-500.269182,10.977713,-500.530594,8.925586,-500.147603,13.977626,-501.080595
50%,4.869346,10.065316,8.557228,44.498874,67.644601,9.220393,2.453690,10.021968,2.781132,131.783108,...,19.986958,-499.778379,14.943933,-499.593286,15.998340,-499.784231,11.092839,-499.933330,18.034960,-500.109898
75%,5.821176,11.054809,10.289741,45.976222,72.824595,10.971110,3.192404,11.648573,3.416936,159.539839,...,24.983961,-494.648754,20.023751,-400.137948,20.000701,-496.531781,15.979467,-498.418000,24.984992,-499.565540
max,16.001945,17.031899,18.124851,53.611374,100.000000,19.552149,6.086532,22.317730,9.789625,251.999948,...,60.000000,-127.692333,28.003828,-71.472472,63.116298,-275.073125,39.846228,-120.190931,54.876806,-39.784927

----------------------------------------------------------------------------------------------------

                       date
count                 16860
unique                16860
top     2016-01-15 00:00:00
freq                      1

Columns with nulls:
Column final.output.concentrate_ag has 0.4270% percent of Nulls, and 72 of nulls
Column final.output.concentrate_pb has 0.4270% percent of Nulls, and 72 of nulls
Column final.output.concentrate_sol has 2.1945% percent of Nulls, and 370 of nulls
Column final.output.concentrate_au has 0.4211% percent of Nulls, and 71 of nulls
Column final.output.recovery has 9.0214% percent of Nulls, and 1521 of nulls
Column final.output.tail_ag has 0.3915% percent of Nulls, and 66 of nulls
Column final.output.tail_pb has 1.0854% percent of Nulls, and 183 of nulls
Column final.output.tail_sol has 0.8600% percent of Nulls, and 145 of nulls
Column final.output.tail_au has 0.3915% percent of Nulls, and 66 of nulls
Column primary_cleaner.input.sulfate has 7.7521% percent of Nulls, and 1307 of nulls
Column primary_cleaner.input.depressant has 7.4852% percent of Nulls, and 1262 of nulls
Column primary_cleaner.input.xanthate has 5.8422% percent of Nulls, and 985 of nulls
Column primary_cleaner.output.concentrate_ag has 0.4864% percent of Nulls, and 82 of nulls
Column primary_cleaner.output.concentrate_pb has 2.1234% percent of Nulls, and 358 of nulls
Column primary_cleaner.output.concentrate_sol has 3.7722% percent of Nulls, and 636 of nulls
Column primary_cleaner.output.concentrate_au has 0.4864% percent of Nulls, and 82 of nulls
Column primary_cleaner.output.tail_ag has 0.4923% percent of Nulls, and 83 of nulls
Column primary_cleaner.output.tail_pb has 0.5872% percent of Nulls, and 99 of nulls
Column primary_cleaner.output.tail_sol has 1.6667% percent of Nulls, and 281 of nulls
Column primary_cleaner.output.tail_au has 0.4923% percent of Nulls, and 83 of nulls
Column primary_cleaner.state.floatbank8_a_air has 0.2372% percent of Nulls, and 40 of nulls
Column primary_cleaner.state.floatbank8_a_level has 0.1957% percent of Nulls, and 33 of nulls
Column primary_cleaner.state.floatbank8_b_air has 0.2372% percent of Nulls, and 40 of nulls
Column primary_cleaner.state.floatbank8_b_level has 0.1601% percent of Nulls, and 27 of nulls
Column primary_cleaner.state.floatbank8_c_air has 0.2254% percent of Nulls, and 38 of nulls
Column primary_cleaner.state.floatbank8_c_level has 0.1601% percent of Nulls, and 27 of nulls
Column primary_cleaner.state.floatbank8_d_air has 0.2313% percent of Nulls, and 39 of nulls
Column primary_cleaner.state.floatbank8_d_level has 0.1601% percent of Nulls, and 27 of nulls
Column rougher.calculation.sulfate_to_au_concentrate has 0.1601% percent of Nulls, and 27 of nulls
Column rougher.calculation.floatbank10_sulfate_to_au_feed has 0.1601% percent of Nulls, and 27 of nulls
Column rougher.calculation.floatbank11_sulfate_to_au_feed has 0.1601% percent of Nulls, and 27 of nulls
Column rougher.calculation.au_pb_ratio has 7.3665% percent of Nulls, and 1242 of nulls
Column rougher.input.feed_ag has 0.4864% percent of Nulls, and 82 of nulls
Column rougher.input.feed_pb has 1.3523% percent of Nulls, and 228 of nulls
Column rougher.input.feed_rate has 3.0427% percent of Nulls, and 513 of nulls
Column rougher.input.feed_size has 2.4733% percent of Nulls, and 417 of nulls
Column rougher.input.feed_sol has 1.7319% percent of Nulls, and 292 of nulls
Column rougher.input.feed_au has 0.4923% percent of Nulls, and 83 of nulls
Column rougher.input.floatbank10_sulfate has 6.1922% percent of Nulls, and 1044 of nulls
Column rougher.input.floatbank10_xanthate has 2.0522% percent of Nulls, and 346 of nulls
Column rougher.input.floatbank11_sulfate has 3.6951% percent of Nulls, and 623 of nulls
Column rougher.input.floatbank11_xanthate has 11.2930% percent of Nulls, and 1904 of nulls
Column rougher.output.concentrate_ag has 0.4864% percent of Nulls, and 82 of nulls
Column rougher.output.concentrate_pb has 0.4864% percent of Nulls, and 82 of nulls
Column rougher.output.concentrate_sol has 0.9609% percent of Nulls, and 162 of nulls
Column rougher.output.concentrate_au has 0.4864% percent of Nulls, and 82 of nulls
Column rougher.output.recovery has 15.2610% percent of Nulls, and 2573 of nulls
Column rougher.output.tail_ag has 13.3452% percent of Nulls, and 2250 of nulls
Column rougher.output.tail_pb has 0.4864% percent of Nulls, and 82 of nulls
Column rougher.output.tail_sol has 13.3393% percent of Nulls, and 2249 of nulls
Column rougher.output.tail_au has 13.3393% percent of Nulls, and 2249 of nulls
Column rougher.state.floatbank10_a_air has 0.3144% percent of Nulls, and 53 of nulls
Column rougher.state.floatbank10_a_level has 0.3144% percent of Nulls, and 53 of nulls
Column rougher.state.floatbank10_b_air has 0.3144% percent of Nulls, and 53 of nulls
Column rougher.state.floatbank10_b_level has 0.3144% percent of Nulls, and 53 of nulls
Column rougher.state.floatbank10_c_air has 0.3144% percent of Nulls, and 53 of nulls
Column rougher.state.floatbank10_c_level has 0.2728% percent of Nulls, and 46 of nulls
Column rougher.state.floatbank10_d_air has 0.3440% percent of Nulls, and 58 of nulls
Column rougher.state.floatbank10_d_level has 0.3025% percent of Nulls, and 51 of nulls
Column rougher.state.floatbank10_e_air has 3.5765% percent of Nulls, and 603 of nulls
Column rougher.state.floatbank10_e_level has 0.3025% percent of Nulls, and 51 of nulls
Column rougher.state.floatbank10_f_air has 0.3440% percent of Nulls, and 58 of nulls
Column rougher.state.floatbank10_f_level has 0.3440% percent of Nulls, and 58 of nulls
Column secondary_cleaner.output.tail_ag has 0.4982% percent of Nulls, and 84 of nulls
Column secondary_cleaner.output.tail_pb has 0.5694% percent of Nulls, and 96 of nulls
Column secondary_cleaner.output.tail_sol has 11.7794% percent of Nulls, and 1986 of nulls
Column secondary_cleaner.output.tail_au has 0.4864% percent of Nulls, and 82 of nulls
Column secondary_cleaner.state.floatbank2_a_air has 2.1530% percent of Nulls, and 363 of nulls
Column secondary_cleaner.state.floatbank2_a_level has 0.6465% percent of Nulls, and 109 of nulls
Column secondary_cleaner.state.floatbank2_b_air has 0.9193% percent of Nulls, and 155 of nulls
Column secondary_cleaner.state.floatbank2_b_level has 0.6643% percent of Nulls, and 112 of nulls
Column secondary_cleaner.state.floatbank3_a_air has 0.5753% percent of Nulls, and 97 of nulls
Column secondary_cleaner.state.floatbank3_a_level has 0.6702% percent of Nulls, and 113 of nulls
Column secondary_cleaner.state.floatbank3_b_air has 0.6406% percent of Nulls, and 108 of nulls
Column secondary_cleaner.state.floatbank3_b_level has 0.6524% percent of Nulls, and 110 of nulls
Column secondary_cleaner.state.floatbank4_a_air has 0.7651% percent of Nulls, and 129 of nulls
Column secondary_cleaner.state.floatbank4_a_level has 0.6702% percent of Nulls, and 113 of nulls
Column secondary_cleaner.state.floatbank4_b_air has 0.5457% percent of Nulls, and 92 of nulls
Column secondary_cleaner.state.floatbank4_b_level has 0.5516% percent of Nulls, and 93 of nulls
Column secondary_cleaner.state.floatbank5_a_air has 0.5042% percent of Nulls, and 85 of nulls
Column secondary_cleaner.state.floatbank5_a_level has 0.5042% percent of Nulls, and 85 of nulls
Column secondary_cleaner.state.floatbank5_b_air has 0.5042% percent of Nulls, and 85 of nulls
Column secondary_cleaner.state.floatbank5_b_level has 0.4982% percent of Nulls, and 84 of nulls
Column secondary_cleaner.state.floatbank6_a_air has 0.6109% percent of Nulls, and 103 of nulls
Column secondary_cleaner.state.floatbank6_a_level has 0.5042% percent of Nulls, and 85 of nulls
There are 85 columns with NA.

None

----------------------------------------------------------------------------------------------------
Shape:
(16860, 87)
----------------------------------------------------------------------------------------------------
Duplicated:
We have 0 duplicated rows.


----------------------------------------------------------------------------------------------------
Head:

,date,primary_cleaner.input.sulfate,primary_cleaner.input.depressant,primary_cleaner.input.feed_size,primary_cleaner.input.xanthate,primary_cleaner.state.floatbank8_a_air,primary_cleaner.state.floatbank8_a_level,primary_cleaner.state.floatbank8_b_air,primary_cleaner.state.floatbank8_b_level,primary_cleaner.state.floatbank8_c_air,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-09-01 00:59:59,210.800909,14.993118,8.080000,1.005021,1398.981301,-500.225577,1399.144926,-499.919735,1400.102998,...,12.023554,-497.795834,8.016656,-501.289139,7.946562,-432.317850,4.872511,-500.037437,26.705889,-499.709414
1,2016-09-01 01:59:59,215.392455,14.987471,8.080000,0.990469,1398.777912,-500.057435,1398.055362,-499.778182,1396.151033,...,12.058140,-498.695773,8.130979,-499.634209,7.958270,-525.839648,4.878850,-500.162375,25.019940,-499.819438
2,2016-09-01 02:59:59,215.259946,12.884934,7.786667,0.996043,1398.493666,-500.868360,1398.860436,-499.764529,1398.075709,...,11.962366,-498.767484,8.096893,-500.827423,8.071056,-500.801673,4.905125,-499.828510,24.994862,-500.622559
3,2016-09-01 03:59:59,215.336236,12.006805,7.640000,0.863514,1399.618111,-498.863574,1397.440120,-499.211024,1400.129303,...,12.033091,-498.350935,8.074946,-499.474407,7.897085,-500.868509,4.931400,-499.963623,24.948919,-498.709987
4,2016-09-01 04:59:59,199.099327,10.682530,7.530000,0.805575,1401.268123,-500.808305,1398.128818,-499.504543,1402.172226,...,12.025367,-500.786497,8.054678,-500.397500,8.107890,-509.526725,4.957674,-500.360026,25.003331,-500.856333

----------------------------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5856 entries, 0 to 5855
Data columns (total 53 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        5856 non-null   object
 1   primary_cleaner.input.sulfate               5554 non-null   float64
 2   primary_cleaner.input.depressant            5572 non-null   float64
 3   primary_cleaner.input.feed_size             5856 non-null   float64
 4   primary_cleaner.input.xanthate              5690 non-null   float64
 5   primary_cleaner.state.floatbank8_a_air      5840 non-null   float64
 6   primary_cleaner.state.floatbank8_a_level    5840 non-null   float64
 7   primary_cleaner.state.floatbank8_b_air      5840 non-null   float64
 8   primary_cleaner.state.floatbank8_b_level    5840 non-null   float64
 9   primary_cleaner.state.floatbank8_c_air      5840 non-null   float64
 10  primary_cleaner.state.floatbank8_c_level    5840 non-null   float64
 11  primary_cleaner.state.floatbank8_d_air      5840 non-null   float64
 12  primary_cleaner.state.floatbank8_d_level    5840 non-null   float64
 13  rougher.input.feed_ag                       5840 non-null   float64
 14  rougher.input.feed_pb                       5840 non-null   float64
 15  rougher.input.feed_rate                     5816 non-null   float64
 16  rougher.input.feed_size                     5834 non-null   float64
 17  rougher.input.feed_sol                      5789 non-null   float64
 18  rougher.input.feed_au                       5840 non-null   float64
 19  rougher.input.floatbank10_sulfate           5599 non-null   float64
 20  rougher.input.floatbank10_xanthate          5733 non-null   float64
 21  rougher.input.floatbank11_sulfate           5801 non-null   float64
 22  rougher.input.floatbank11_xanthate          5503 non-null   float64
 23  rougher.state.floatbank10_a_air             5839 non-null   float64
 24  rougher.state.floatbank10_a_level           5840 non-null   float64
 25  rougher.state.floatbank10_b_air             5839 non-null   float64
 26  rougher.state.floatbank10_b_level           5840 non-null   float64
 27  rougher.state.floatbank10_c_air             5839 non-null   float64
 28  rougher.state.floatbank10_c_level           5840 non-null   float64
 29  rougher.state.floatbank10_d_air             5839 non-null   float64
 30  rougher.state.floatbank10_d_level           5840 non-null   float64
 31  rougher.state.floatbank10_e_air             5839 non-null   float64
 32  rougher.state.floatbank10_e_level           5840 non-null   float64
 33  rougher.state.floatbank10_f_air             5839 non-null   float64
 34  rougher.state.floatbank10_f_level           5840 non-null   float64
 35  secondary_cleaner.state.floatbank2_a_air    5836 non-null   float64
 36  secondary_cleaner.state.floatbank2_a_level  5840 non-null   float64
 37  secondary_cleaner.state.floatbank2_b_air    5833 non-null   float64
 38  secondary_cleaner.state.floatbank2_b_level  5840 non-null   float64
 39  secondary_cleaner.state.floatbank3_a_air    5822 non-null   float64
 40  secondary_cleaner.state.floatbank3_a_level  5840 non-null   float64
 41  secondary_cleaner.state.floatbank3_b_air    5840 non-null   float64
 42  secondary_cleaner.state.floatbank3_b_level  5840 non-null   float64
 43  secondary_cleaner.state.floatbank4_a_air    5840 non-null   float64
 44  secondary_cleaner.state.floatbank4_a_level  5840 non-null   float64
 45  secondary_cleaner.state.floatbank4_b_air    5840 non-null   float64
 46  secondary_cleaner.state.floatbank4_b_level  5840 non-null   float64
 47  secondary_cleaner.state.floatbank5_a_air    5840 non-null   float64
 48  secondary_cleaner.state.floatbank5_a_level  5840 non-null   float64
 49  secondary_cleaner.state.floatbank5_b_air    5840 non-null   float64
 50  secondary_cleaner.state.floatbank5_b_level  5840 non-null   float64
 51  secondary_cleaner.state.floatbank6_a_air    5840 non-null   float64
 52  secondary_cleaner.state.floatbank6_a_level  5840 non-null   float64
dtypes: float64(52), object(1)
memory usage: 2.4+ MB

None

----------------------------------------------------------------------------------------------------
Describe:

,primary_cleaner.input.sulfate,primary_cleaner.input.depressant,primary_cleaner.input.feed_size,primary_cleaner.input.xanthate,primary_cleaner.state.floatbank8_a_air,primary_cleaner.state.floatbank8_a_level,primary_cleaner.state.floatbank8_b_air,primary_cleaner.state.floatbank8_b_level,primary_cleaner.state.floatbank8_c_air,primary_cleaner.state.floatbank8_c_level,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
count,5554.000000,5572.000000,5856.000000,5690.000000,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000,...,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000,5840.000000
mean,170.515243,8.482873,7.264651,1.321420,1481.990241,-509.057796,1486.908670,-511.743956,1468.495216,-509.741212,...,15.636031,-516.266074,13.145702,-476.338907,12.308967,-512.208126,9.470986,-505.017827,16.678722,-512.351694
std,49.608602,3.353105,0.611526,0.693246,310.453166,61.339256,313.224286,67.139074,309.980748,62.671873,...,4.660835,62.756748,4.304086,105.549424,3.762827,58.864651,3.312471,68.785898,5.404514,69.919839
min,0.000103,0.000031,5.650000,0.000003,0.000000,-799.773788,0.000000,-800.029078,0.000000,-799.995127,...,0.000000,-799.798523,0.000000,-800.836914,-0.223393,-799.661076,0.528083,-800.220337,-0.079426,-809.859706
25%,143.340022,6.411500,6.885625,0.888769,1497.190681,-500.455211,1497.150234,-500.936639,1437.050321,-501.300441,...,12.057838,-501.054741,11.880119,-500.419113,10.123459,-500.879383,7.991208,-500.223089,13.012422,-500.833821
50%,176.103893,8.023252,7.259333,1.183362,1554.659783,-499.997402,1553.268084,-500.066588,1546.160672,-500.079537,...,17.001867,-500.160145,14.952102,-499.644328,12.062877,-500.047621,9.980774,-500.001338,16.007242,-500.041085
75%,207.240761,10.017725,7.650000,1.763797,1601.681656,-499.575313,1601.784707,-499.323361,1600.785573,-499.009545,...,18.030985,-499.441529,15.940011,-401.523664,15.017881,-499.297033,11.992176,-499.722835,21.009076,-499.395621
max,274.409626,40.024582,15.500000,5.433169,2212.432090,-57.195404,1975.147923,-142.527229,1715.053773,-150.937035,...,30.051797,-401.565212,31.269706,-6.506986,25.258848,-244.483566,14.090194,-126.463446,26.705889,-29.093593

----------------------------------------------------------------------------------------------------

                       date
count                  5856
unique                 5856
top     2016-09-01 00:59:59
freq                      1

Columns with nulls:
Column primary_cleaner.input.sulfate has 5.1571% percent of Nulls, and 302 of nulls
Column primary_cleaner.input.depressant has 4.8497% percent of Nulls, and 284 of nulls
Column primary_cleaner.input.xanthate has 2.8347% percent of Nulls, and 166 of nulls
Column primary_cleaner.state.floatbank8_a_air has 0.2732% percent of Nulls, and 16 of nulls
Column primary_cleaner.state.floatbank8_a_level has 0.2732% percent of Nulls, and 16 of nulls
Column primary_cleaner.state.floatbank8_b_air has 0.2732% percent of Nulls, and 16 of nulls
Column primary_cleaner.state.floatbank8_b_level has 0.2732% percent of Nulls, and 16 of nulls
Column primary_cleaner.state.floatbank8_c_air has 0.2732% percent of Nulls, and 16 of nulls
Column primary_cleaner.state.floatbank8_c_level has 0.2732% percent of Nulls, and 16 of nulls
Column primary_cleaner.state.floatbank8_d_air has 0.2732% percent of Nulls, and 16 of nulls
Column primary_cleaner.state.floatbank8_d_level has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.input.feed_ag has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.input.feed_pb has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.input.feed_rate has 0.6831% percent of Nulls, and 40 of nulls
Column rougher.input.feed_size has 0.3757% percent of Nulls, and 22 of nulls
Column rougher.input.feed_sol has 1.1441% percent of Nulls, and 67 of nulls
Column rougher.input.feed_au has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.input.floatbank10_sulfate has 4.3887% percent of Nulls, and 257 of nulls
Column rougher.input.floatbank10_xanthate has 2.1004% percent of Nulls, and 123 of nulls
Column rougher.input.floatbank11_sulfate has 0.9392% percent of Nulls, and 55 of nulls
Column rougher.input.floatbank11_xanthate has 6.0280% percent of Nulls, and 353 of nulls
Column rougher.state.floatbank10_a_air has 0.2903% percent of Nulls, and 17 of nulls
Column rougher.state.floatbank10_a_level has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.state.floatbank10_b_air has 0.2903% percent of Nulls, and 17 of nulls
Column rougher.state.floatbank10_b_level has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.state.floatbank10_c_air has 0.2903% percent of Nulls, and 17 of nulls
Column rougher.state.floatbank10_c_level has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.state.floatbank10_d_air has 0.2903% percent of Nulls, and 17 of nulls
Column rougher.state.floatbank10_d_level has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.state.floatbank10_e_air has 0.2903% percent of Nulls, and 17 of nulls
Column rougher.state.floatbank10_e_level has 0.2732% percent of Nulls, and 16 of nulls
Column rougher.state.floatbank10_f_air has 0.2903% percent of Nulls, and 17 of nulls
Column rougher.state.floatbank10_f_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank2_a_air has 0.3415% percent of Nulls, and 20 of nulls
Column secondary_cleaner.state.floatbank2_a_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank2_b_air has 0.3928% percent of Nulls, and 23 of nulls
Column secondary_cleaner.state.floatbank2_b_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank3_a_air has 0.5806% percent of Nulls, and 34 of nulls
Column secondary_cleaner.state.floatbank3_a_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank3_b_air has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank3_b_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank4_a_air has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank4_a_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank4_b_air has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank4_b_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank5_a_air has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank5_a_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank5_b_air has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank5_b_level has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank6_a_air has 0.2732% percent of Nulls, and 16 of nulls
Column secondary_cleaner.state.floatbank6_a_level has 0.2732% percent of Nulls, and 16 of nulls
There are 51 columns with NA.

None

----------------------------------------------------------------------------------------------------
Shape:
(5856, 53)
----------------------------------------------------------------------------------------------------
Duplicated:
We have 0 duplicated rows.


----------------------------------------------------------------------------------------------------
Head:

,date,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-01-15 00:00:00,6.055403,9.889648,5.507324,42.192020,70.541216,10.411962,0.895447,16.904297,2.143149,...,14.016835,-502.488007,12.099931,-504.715942,9.925633,-498.310211,8.079666,-500.470978,14.151341,-605.841980
1,2016-01-15 01:00:00,6.029369,9.968944,5.257781,42.701629,69.266198,10.462676,0.927452,16.634514,2.224930,...,13.992281,-505.503262,11.950531,-501.331529,10.039245,-500.169983,7.984757,-500.582168,13.998353,-599.787184
2,2016-01-15 02:00:00,6.055926,10.213995,5.383759,42.657501,68.116445,10.507046,0.953716,16.208849,2.257889,...,14.015015,-502.520901,11.912783,-501.133383,10.070913,-500.129135,8.013877,-500.517572,14.028663,-601.427363
3,2016-01-15 03:00:00,6.047977,9.977019,4.858634,42.689819,68.347543,10.422762,0.883763,16.532835,2.146849,...,14.036510,-500.857308,11.999550,-501.193686,9.970366,-499.201640,7.977324,-500.255908,14.005551,-599.996129
4,2016-01-15 04:00:00,6.148599,10.142511,4.939416,42.774141,66.927016,10.360302,0.792826,16.525686,2.055292,...,14.027298,-499.838632,11.953070,-501.053894,9.925709,-501.686727,7.894242,-500.356035,13.996647,-601.496691

----------------------------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22716 entries, 0 to 22715
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                22716 non-null  object
 1   final.output.concentrate_ag                         22627 non-null  float64
 2   final.output.concentrate_pb                         22629 non-null  float64
 3   final.output.concentrate_sol                        22331 non-null  float64
 4   final.output.concentrate_au                         22630 non-null  float64
 5   final.output.recovery                               20753 non-null  float64
 6   final.output.tail_ag                                22633 non-null  float64
 7   final.output.tail_pb                                22516 non-null  float64
 8   final.output.tail_sol                               22445 non-null  float64
 9   final.output.tail_au                                22635 non-null  float64
 10  primary_cleaner.input.sulfate                       21107 non-null  float64
 11  primary_cleaner.input.depressant                    21170 non-null  float64
 12  primary_cleaner.input.feed_size                     22716 non-null  float64
 13  primary_cleaner.input.xanthate                      21565 non-null  float64
 14  primary_cleaner.output.concentrate_ag               22618 non-null  float64
 15  primary_cleaner.output.concentrate_pb               22268 non-null  float64
 16  primary_cleaner.output.concentrate_sol              21918 non-null  float64
 17  primary_cleaner.output.concentrate_au               22618 non-null  float64
 18  primary_cleaner.output.tail_ag                      22614 non-null  float64
 19  primary_cleaner.output.tail_pb                      22594 non-null  float64
 20  primary_cleaner.output.tail_sol                     22365 non-null  float64
 21  primary_cleaner.output.tail_au                      22617 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              22660 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            22667 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              22660 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            22673 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              22662 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            22673 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              22661 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            22673 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       22672 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  22672 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  22672 non-null  float64
 33  rougher.calculation.au_pb_ratio                     21089 non-null  float64
 34  rougher.input.feed_ag                               22618 non-null  float64
 35  rougher.input.feed_pb                               22472 non-null  float64
 36  rougher.input.feed_rate                             22163 non-null  float64
 37  rougher.input.feed_size                             22277 non-null  float64
 38  rougher.input.feed_sol                              22357 non-null  float64
 39  rougher.input.feed_au                               22617 non-null  float64
 40  rougher.input.floatbank10_sulfate                   21415 non-null  float64
 41  rougher.input.floatbank10_xanthate                  22247 non-null  float64
 42  rougher.input.floatbank11_sulfate                   22038 non-null  float64
 43  rougher.input.floatbank11_xanthate                  20459 non-null  float64
 44  rougher.output.concentrate_ag                       22618 non-null  float64
 45  rougher.output.concentrate_pb                       22618 non-null  float64
 46  rougher.output.concentrate_sol                      22526 non-null  float64
 47  rougher.output.concentrate_au                       22618 non-null  float64
 48  rougher.output.recovery                             19597 non-null  float64
 49  rougher.output.tail_ag                              19979 non-null  float64
 50  rougher.output.tail_pb                              22618 non-null  float64
 51  rougher.output.tail_sol                             19980 non-null  float64
 52  rougher.output.tail_au                              19980 non-null  float64
 53  rougher.state.floatbank10_a_air                     22646 non-null  float64
 54  rougher.state.floatbank10_a_level                   22647 non-null  float64
 55  rougher.state.floatbank10_b_air                     22646 non-null  float64
 56  rougher.state.floatbank10_b_level                   22647 non-null  float64
 57  rougher.state.floatbank10_c_air                     22646 non-null  float64
 58  rougher.state.floatbank10_c_level                   22654 non-null  float64
 59  rougher.state.floatbank10_d_air                     22641 non-null  float64
 60  rougher.state.floatbank10_d_level                   22649 non-null  float64
 61  rougher.state.floatbank10_e_air                     22096 non-null  float64
 62  rougher.state.floatbank10_e_level                   22649 non-null  float64
 63  rougher.state.floatbank10_f_air                     22641 non-null  float64
 64  rougher.state.floatbank10_f_level                   22642 non-null  float64
 65  secondary_cleaner.output.tail_ag                    22616 non-null  float64
 66  secondary_cleaner.output.tail_pb                    22600 non-null  float64
 67  secondary_cleaner.output.tail_sol                   20501 non-null  float64
 68  secondary_cleaner.output.tail_au                    22618 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            22333 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          22591 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            22538 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          22588 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            22585 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          22587 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            22592 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          22590 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            22571 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          22587 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            22608 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          22607 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            22615 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          22615 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            22615 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          22616 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            22597 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          22615 non-null  float64
dtypes: float64(86), object(1)
memory usage: 15.1+ MB

None

----------------------------------------------------------------------------------------------------
Describe:

,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,primary_cleaner.input.sulfate,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
count,22627.000000,22629.000000,22331.000000,22630.000000,20753.000000,22633.000000,22516.000000,22445.000000,22635.000000,21107.000000,...,22571.000000,22587.000000,22608.000000,22607.000000,22615.000000,22615.000000,22615.000000,22616.000000,22597.000000,22615.000000
mean,4.781559,9.095308,8.640317,40.001172,67.447488,8.923690,2.488252,9.523632,2.827459,140.277672,...,18.205125,-499.878977,14.356474,-476.532613,14.883276,-503.323288,11.626743,-500.521502,17.976810,-519.361465
std,2.030128,3.230797,3.785035,13.398062,11.616034,3.517917,1.189407,4.079739,1.262834,49.919004,...,6.560700,80.273964,5.655791,93.822791,6.372811,72.925589,5.757449,78.956292,6.636203,75.477151
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000003,...,0.000000,-799.920713,0.000000,-800.836914,-0.423260,-799.741097,0.427084,-800.258209,-0.079426,-810.473526
25%,4.018525,8.750171,7.116799,42.383721,63.282393,7.684016,1.805376,8.143576,2.303108,110.177081,...,14.095940,-500.896232,10.882675,-500.309169,10.941299,-500.628697,8.037533,-500.167897,13.968418,-500.981671
50%,4.953729,9.914519,8.908792,44.653436,68.322258,9.484369,2.653001,10.212998,2.913794,141.330501,...,18.007326,-499.917108,14.947646,-499.612292,14.859117,-499.865158,10.989756,-499.951980,18.004215,-500.095463
75%,5.862593,10.929839,10.705824,46.111999,72.950836,11.084557,3.287790,11.860824,3.555077,174.049914,...,22.998194,-498.361545,17.977502,-400.224147,18.014914,-498.489381,14.001193,-499.492354,23.009704,-499.526388
max,16.001945,17.031899,19.615720,53.611374,100.000000,19.552149,6.086532,22.861749,9.789625,274.409626,...,60.000000,-127.692333,31.269706,-6.506986,63.116298,-244.483566,39.846228,-120.190931,54.876806,-29.093593

----------------------------------------------------------------------------------------------------

                       date
count                 22716
unique                22716
top     2016-01-15 00:00:00
freq                      1

Columns with nulls:
Column final.output.concentrate_ag has 0.3918% percent of Nulls, and 89 of nulls
Column final.output.concentrate_pb has 0.3830% percent of Nulls, and 87 of nulls
Column final.output.concentrate_sol has 1.6948% percent of Nulls, and 385 of nulls
Column final.output.concentrate_au has 0.3786% percent of Nulls, and 86 of nulls
Column final.output.recovery has 8.6415% percent of Nulls, and 1963 of nulls
Column final.output.tail_ag has 0.3654% percent of Nulls, and 83 of nulls
Column final.output.tail_pb has 0.8804% percent of Nulls, and 200 of nulls
Column final.output.tail_sol has 1.1930% percent of Nulls, and 271 of nulls
Column final.output.tail_au has 0.3566% percent of Nulls, and 81 of nulls
Column primary_cleaner.input.sulfate has 7.0831% percent of Nulls, and 1609 of nulls
Column primary_cleaner.input.depressant has 6.8058% percent of Nulls, and 1546 of nulls
Column primary_cleaner.input.xanthate has 5.0669% percent of Nulls, and 1151 of nulls
Column primary_cleaner.output.concentrate_ag has 0.4314% percent of Nulls, and 98 of nulls
Column primary_cleaner.output.concentrate_pb has 1.9722% percent of Nulls, and 448 of nulls
Column primary_cleaner.output.concentrate_sol has 3.5129% percent of Nulls, and 798 of nulls
Column primary_cleaner.output.concentrate_au has 0.4314% percent of Nulls, and 98 of nulls
Column primary_cleaner.output.tail_ag has 0.4490% percent of Nulls, and 102 of nulls
Column primary_cleaner.output.tail_pb has 0.5371% percent of Nulls, and 122 of nulls
Column primary_cleaner.output.tail_sol has 1.5452% percent of Nulls, and 351 of nulls
Column primary_cleaner.output.tail_au has 0.4358% percent of Nulls, and 99 of nulls
Column primary_cleaner.state.floatbank8_a_air has 0.2465% percent of Nulls, and 56 of nulls
Column primary_cleaner.state.floatbank8_a_level has 0.2157% percent of Nulls, and 49 of nulls
Column primary_cleaner.state.floatbank8_b_air has 0.2465% percent of Nulls, and 56 of nulls
Column primary_cleaner.state.floatbank8_b_level has 0.1893% percent of Nulls, and 43 of nulls
Column primary_cleaner.state.floatbank8_c_air has 0.2377% percent of Nulls, and 54 of nulls
Column primary_cleaner.state.floatbank8_c_level has 0.1893% percent of Nulls, and 43 of nulls
Column primary_cleaner.state.floatbank8_d_air has 0.2421% percent of Nulls, and 55 of nulls
Column primary_cleaner.state.floatbank8_d_level has 0.1893% percent of Nulls, and 43 of nulls
Column rougher.calculation.sulfate_to_au_concentrate has 0.1937% percent of Nulls, and 44 of nulls
Column rougher.calculation.floatbank10_sulfate_to_au_feed has 0.1937% percent of Nulls, and 44 of nulls
Column rougher.calculation.floatbank11_sulfate_to_au_feed has 0.1937% percent of Nulls, and 44 of nulls
Column rougher.calculation.au_pb_ratio has 7.1624% percent of Nulls, and 1627 of nulls
Column rougher.input.feed_ag has 0.4314% percent of Nulls, and 98 of nulls
Column rougher.input.feed_pb has 1.0741% percent of Nulls, and 244 of nulls
Column rougher.input.feed_rate has 2.4344% percent of Nulls, and 553 of nulls
Column rougher.input.feed_size has 1.9326% percent of Nulls, and 439 of nulls
Column rougher.input.feed_sol has 1.5804% percent of Nulls, and 359 of nulls
Column rougher.input.feed_au has 0.4358% percent of Nulls, and 99 of nulls
Column rougher.input.floatbank10_sulfate has 5.7272% percent of Nulls, and 1301 of nulls
Column rougher.input.floatbank10_xanthate has 2.0646% percent of Nulls, and 469 of nulls
Column rougher.input.floatbank11_sulfate has 2.9847% percent of Nulls, and 678 of nulls
Column rougher.input.floatbank11_xanthate has 9.9357% percent of Nulls, and 2257 of nulls
Column rougher.output.concentrate_ag has 0.4314% percent of Nulls, and 98 of nulls
Column rougher.output.concentrate_pb has 0.4314% percent of Nulls, and 98 of nulls
Column rougher.output.concentrate_sol has 0.8364% percent of Nulls, and 190 of nulls
Column rougher.output.concentrate_au has 0.4314% percent of Nulls, and 98 of nulls
Column rougher.output.recovery has 13.7304% percent of Nulls, and 3119 of nulls
Column rougher.output.tail_ag has 12.0488% percent of Nulls, and 2737 of nulls
Column rougher.output.tail_pb has 0.4314% percent of Nulls, and 98 of nulls
Column rougher.output.tail_sol has 12.0444% percent of Nulls, and 2736 of nulls
Column rougher.output.tail_au has 12.0444% percent of Nulls, and 2736 of nulls
Column rougher.state.floatbank10_a_air has 0.3082% percent of Nulls, and 70 of nulls
Column rougher.state.floatbank10_a_level has 0.3038% percent of Nulls, and 69 of nulls
Column rougher.state.floatbank10_b_air has 0.3082% percent of Nulls, and 70 of nulls
Column rougher.state.floatbank10_b_level has 0.3038% percent of Nulls, and 69 of nulls
Column rougher.state.floatbank10_c_air has 0.3082% percent of Nulls, and 70 of nulls
Column rougher.state.floatbank10_c_level has 0.2729% percent of Nulls, and 62 of nulls
Column rougher.state.floatbank10_d_air has 0.3302% percent of Nulls, and 75 of nulls
Column rougher.state.floatbank10_d_level has 0.2949% percent of Nulls, and 67 of nulls
Column rougher.state.floatbank10_e_air has 2.7294% percent of Nulls, and 620 of nulls
Column rougher.state.floatbank10_e_level has 0.2949% percent of Nulls, and 67 of nulls
Column rougher.state.floatbank10_f_air has 0.3302% percent of Nulls, and 75 of nulls
Column rougher.state.floatbank10_f_level has 0.3258% percent of Nulls, and 74 of nulls
Column secondary_cleaner.output.tail_ag has 0.4402% percent of Nulls, and 100 of nulls
Column secondary_cleaner.output.tail_pb has 0.5107% percent of Nulls, and 116 of nulls
Column secondary_cleaner.output.tail_sol has 9.7508% percent of Nulls, and 2215 of nulls
Column secondary_cleaner.output.tail_au has 0.4314% percent of Nulls, and 98 of nulls
Column secondary_cleaner.state.floatbank2_a_air has 1.6860% percent of Nulls, and 383 of nulls
Column secondary_cleaner.state.floatbank2_a_level has 0.5503% percent of Nulls, and 125 of nulls
Column secondary_cleaner.state.floatbank2_b_air has 0.7836% percent of Nulls, and 178 of nulls
Column secondary_cleaner.state.floatbank2_b_level has 0.5635% percent of Nulls, and 128 of nulls
Column secondary_cleaner.state.floatbank3_a_air has 0.5767% percent of Nulls, and 131 of nulls
Column secondary_cleaner.state.floatbank3_a_level has 0.5679% percent of Nulls, and 129 of nulls
Column secondary_cleaner.state.floatbank3_b_air has 0.5459% percent of Nulls, and 124 of nulls
Column secondary_cleaner.state.floatbank3_b_level has 0.5547% percent of Nulls, and 126 of nulls
Column secondary_cleaner.state.floatbank4_a_air has 0.6383% percent of Nulls, and 145 of nulls
Column secondary_cleaner.state.floatbank4_a_level has 0.5679% percent of Nulls, and 129 of nulls
Column secondary_cleaner.state.floatbank4_b_air has 0.4754% percent of Nulls, and 108 of nulls
Column secondary_cleaner.state.floatbank4_b_level has 0.4798% percent of Nulls, and 109 of nulls
Column secondary_cleaner.state.floatbank5_a_air has 0.4446% percent of Nulls, and 101 of nulls
Column secondary_cleaner.state.floatbank5_a_level has 0.4446% percent of Nulls, and 101 of nulls
Column secondary_cleaner.state.floatbank5_b_air has 0.4446% percent of Nulls, and 101 of nulls
Column secondary_cleaner.state.floatbank5_b_level has 0.4402% percent of Nulls, and 100 of nulls
Column secondary_cleaner.state.floatbank6_a_air has 0.5239% percent of Nulls, and 119 of nulls
Column secondary_cleaner.state.floatbank6_a_level has 0.4446% percent of Nulls, and 101 of nulls
There are 85 columns with NA.

None

----------------------------------------------------------------------------------------------------
Shape:
(22716, 87)
----------------------------------------------------------------------------------------------------
Duplicated:
We have 0 duplicated rows.

**Conclusion**

By looking at the data, we observed that:
- In the `gold_recovery_train.csv` dataset, we have 16,860 rows, 86 features, and 85 columns with NA's.
- In the `gold_recovery_test.csv` dataset, we have 5,856 rows, 52 features, and 51 columns with NA's.
- In the `gold_recovery_full.csv` dataset, we have 22,716 rows, 86 features, and 85 columns with NA's.

#### Calculate recovery and determine MAE between calculated recovery and feature values recovery

Let check that recovery is calculated correctly. The recovery process is simulated using:
\begin{equation}
    Recovery = \frac{C * (F - T)}{F * (C - T)} * 100%
\end{equation}

In [6]:
# gold extraction data
C = data_train['rougher.output.concentrate_au']
F = data_train['rougher.input.feed_au']
T = data_train['rougher.output.tail_au']

# recovery calculation
calculated_recovery = (C * (F - T)) / (F * (C - T)) * 100
calculated_recovery

0        87.107763
1        86.843261
2        86.842308
3        87.226430
4        86.688794
           ...
16855    89.574376
16856    87.724007
16857    88.890579
16858    89.858126
16859    89.514960
Length: 16860, dtype: float64

In [7]:
# MAE calculation
mae_calc = pd.DataFrame({'calculated_recovery': calculated_recovery, 'output_recovery': data_train['rougher.output.recovery']}).dropna()
mae = mean_absolute_error(mae_calc.calculated_recovery, mae_calc.output_recovery)
print('The MAE score is: {:.2f}'.format(mae))

The MAE score is: 0.00

In [8]:
# check sample of calculated recovery and output recovery
mae_calc.sample(5)

       calculated_recovery  output_recovery
14206            91.636690        91.636690
7178             93.902203        93.902203
7397             88.686332        88.686332
13772            96.185008        96.185008
1554             87.427588        87.427588

From the calculations done, we can see that the `calculated_recovery` and `rougher.output.recovery` have similar values. We also observed that the MAE score is 0.0. This shows that the calculated value from the simulated recovery process is similar to the `rougher.output.recovery`.

#### Locate features not available in test set

In [9]:
# features not available in the test set
features_diff = list(set(data_train.columns).difference(data_test.columns))
features_diff

['rougher.calculation.sulfate_to_au_concentrate',
 'secondary_cleaner.output.tail_au',
 'rougher.calculation.floatbank10_sulfate_to_au_feed',
 'rougher.output.tail_pb',
 'rougher.output.tail_au',
 'final.output.concentrate_ag',
 'rougher.output.concentrate_pb',
 'rougher.output.tail_sol',
 'rougher.output.concentrate_sol',
 'final.output.concentrate_au',
 'final.output.concentrate_sol',
 'secondary_cleaner.output.tail_pb',
 'rougher.output.recovery',
 'primary_cleaner.output.concentrate_sol',
 'final.output.tail_pb',
 'rougher.output.concentrate_au',
 'final.output.concentrate_pb',
 'final.output.tail_au',
 'secondary_cleaner.output.tail_sol',
 'rougher.calculation.floatbank11_sulfate_to_au_feed',
 'final.output.tail_sol',
 'rougher.output.concentrate_ag',
 'final.output.recovery',
 'primary_cleaner.output.concentrate_ag',
 'primary_cleaner.output.concentrate_pb',
 'primary_cleaner.output.concentrate_au',
 'rougher.output.tail_ag',
 'primary_cleaner.output.tail_au',
 'secondary_cleaner.output.tail_ag',
 'rougher.calculation.au_pb_ratio',
 'primary_cleaner.output.tail_ag',
 'final.output.tail_ag',
 'primary_cleaner.output.tail_pb',
 'primary_cleaner.output.tail_sol']

By checking for features not available in the test set, we can see that we have 34 features in the train set that are not available in the test set. The features not available in the test set include features containing the concentration of metals (Au, Ag, Pb). The parameters type are output - product parameters and calculation characteristics.

#### Data Preprocessing

In this section, we need to preprocess the data by converting the `date` datatype to datetime, filling in the missing values in the train, test and full dataset. For filling in the missing values, we would use the fill forward along the column axis.

In [10]:
# convert date to datetime 
def convert_date_time(df, col):
    df[col] = pd.to_datetime(df[col])
    df.sort_values(col, inplace=True)
    
# function to forward fill missing values    
def fill_missing_values(df):
    df = df.fillna(method='ffill', axis=1)

In [11]:
# process date column in dataset
convert_date_time(data_train, 'date')
convert_date_time(data_test, 'date')
convert_date_time(data_full, 'date')

In [12]:
# filling in missing value using forward fill method
gold_recovery_train = fill_missing_values(data_train)
gold_recovery_test = fill_missing_values(data_test)
gold_recovery_full = fill_missing_values(data_full)

In [14]:
print(gold_recovery_train.head())

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
#num_of_nulls = df[column].isna().sum()

**Conclusion**

We calculated the recovery for the `rougher.output.recovery` feature using the training set and computed the mean absolute error between the calculated value and feature values to be 0.0. This signifies that the recovery value is calculated correctly since there is not error. Thirty-four (34) features from the output and calculation parameter type were not available in the test set.

<div id="analyze_the_data">
    <h2>Analyze the data</h2> 
</div>

<div id="build_the_model">
    <h2>Build the model</h2> 
</div>

<div id="overall_conclusion">
    <h2>Overall conclusion</h2> 
</div>

We need to predict two values:
- rougher concentrate recovery `rougher.output.recovery`
- final concentrate recovery `final.output.recovery`